# eclipse ignore
.classpath
.project
.settings/
.springBeans
.metadata/

# idea ignore
*.iml
.idea/
*.ipr
*.iws
.factorypath

# maven ignore
target/
*.class
*.war
*.zip
*.tar
*.tar.gz


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
logs/
build/
*.java~
*.properties~
*.xml~


# system ignore
.DS_Store
Thumbs.db 


#mgb
generatorConfig.xml
generatorConfig.properties
mbg






/META-INF
META-INF/
.mymetadata